form {
  display: block;
  justify-content: center;
}
h1 {
  font-size: 45px;
}
li {
  list-style: none;
  line-height: 1;
}
a {
  text-decoration: none;
}
.weather-app {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 30px;
  margin: 20px auto;
  max-width: 70%;
  padding: 30px;
}
.city {
  margin: 0px;
  padding-top: 0px;
}
.weather-today {
  margin: 0;
  padding: 0;
}
.t-today {
  font-size: 60px;
  font-weight: 400;
}

.units {
  position: relative;
  top: 15px;
}
.parameters {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cards-alignment {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.card {
  width: 120px;
}
.card-body {
  font-size: 12px;
}
.card-title {
  font-weight: bold;
  margin: 0px;
  text-align: center;
}
.date {
  line-height: 1.5;
  margin: 0px;
  text-align: center;
}
.emoji-weather {
  font-size: 40px;
  margin: 0px;
  text-align: center;
}
.card-text {
  margin: 0px;
  text-align: center;
}
.t-max {
  margin: 0px;
  text-align: center;
}
.t-min {
  font-weight: lighter;
}

.open-source {
  color: #007bff;
  text-align: center;
  text-decoration: none;
}
li::first-letter {
  text-transform: capitalize;
}

small {
  display: block;
  font-family: monospace;
  text-align: center;
}
