body {
  background-color: rgb(217, 215, 227);
}
form {
  display: block;
  justify-content: center;
}
h1 {
  font-size: 45px;
}
li {
  list-style: none;
  line-height: 1;
}
a {
  text-decoration: none;
}
small {
  display: block;
  font-family: monospace;
  text-align: center;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 30px;
  margin: 20px auto;
  max-width: 600px;
  padding: 40px;
}
.city {
  margin: 0px;
  padding-top: 0px;
}
.weather-today {
  margin: 0;
  padding: 0;
}
.t-today {
  font-size: 60px;
  font-weight: 400;
}
#search-button {
  background: #3d4758;
  height: 40px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
}
#current-location {
  background: #6882a0;
  border: none;
  border-radius: 45px;
  height: 40px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  align-content: space-around;
  transition: all 0.3s ease 0s;
}
.units {
  position: relative;
  top: 15px;
}
.parameters {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.open-source {
  color: #007bff;
  text-align: center;
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
